body{
    font-size: 1.5rem;
}
.p-5{
    padding-top: 5rem;    
    padding-bottom: 5rem;
}
.nav-item{
    background-color: rgba(222, 226, 230, 1);
    color: black;
}
.nav-tabs .nav-link:focus{
    border-color: brown;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkslategrey;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.list-breed{
    margin:20px;    
    overflow: auto;
    max-height: 35rem; 
}
.dog-image {    
    height: 300px;
    border: solid 3px rgb(76, 101, 110);
    margin: 10px auto;   
}